{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{% static 'svg/pup-logo.svg' %}" type="image/svg+xml">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>PUP HelpDesk</title>
  <script src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>
<body>


    <div class="container">
      <aside class="navigation">

        <div class="title-cont">
          <img class="pup-logo" src="{% static 'svg/pup-logo.svg' %}" alt="PUP Logo">
          <h5>PUP Help Desk</h5>
        </div>

        <div class="accordion-container">

        <div class="accordion-header">
            <div class="nav-icon"><i class="fa-solid fa-calendar-week"></i></div>
            <div class="text">
                <span>Course Registration & Scheduling</span>
                <i class="fas fa-chevron-right accordion-icon"></i>
            </div>
            </div>
            <div class="accordion-content">
            <button onclick="sendBotMessage('How To Apply?')"><i class="fa-solid fa-paper-plane"></i> How To Apply?</button>
            <button onclick="sendBotMessage('Examination Schedule')"><i class="fa-solid fa-paper-plane"></i> Examination Schedule</button>
            <button onclick="sendBotMessage('Enrollment Schedule')"><i class="fa-solid fa-paper-plane"></i> Enrollment Schedule</button>
            <button onclick="sendBotMessage('Available Programs & Slots')"><i class="fa-solid fa-paper-plane"></i> Available Programs & Slots</button>
            </div>

          <div class="accordion-header">
            <div class="nav-icon"><i class="fa-solid fa-school"></i></div>
            <div class="text">
              <span>Campus Services & Facilities</span>
              <i class="fas fa-chevron-right accordion-icon"></i>
            </div>
          </div>
          <div class="accordion-content">
            <button onclick="sendBotMessage('Office Operating Hours')"><i class="fa-solid fa-paper-plane"></i> Office Operating Hours</button>
            <button onclick="sendBotMessage('Lost & Found')"><i class="fa-solid fa-paper-plane"></i> Lost & Found</button>
            <button onclick="sendBotMessage('Campus Map & Navigation')"><i class="fa-solid fa-paper-plane"></i> Campus Map & Navigation</button>
          </div>
        
          <div class="accordion-header">
            <div class="nav-icon"><i class="fa-solid fa-address-book"></i></div>
            <div class="text">
              <span>Contact Directory</span>
              <i class="fas fa-chevron-right accordion-icon"></i>
            </div>
          </div>
          <div class="accordion-content">
            <button onclick="sendBotMessage('Find a Contact')"><i class="fa-solid fa-paper-plane"></i> Find a Contact</button>
          </div>

          <div class="accordion-header">
            <div class="nav-icon"><i class="fa-solid fa-building-columns"></i></div>
            <div class="text">
              <span>About PUP</span>
              <i class="fas fa-chevron-right accordion-icon"></i>
            </div>
          </div>
          <div class="accordion-content">
            <button onclick="sendBotMessage('Mission & Vision')"><i class="fa-solid fa-paper-plane"></i> Mission & Vision</button>
            <button onclick="sendBotMessage('PUP Hymn')"><i class="fa-solid fa-paper-plane"></i> PUP Hymn</button>
            <button onclick="sendBotMessage('University History')"><i class="fa-solid fa-paper-plane"></i> University History</button>
          </div>
        </div>

        <div class="switch-link"><i class="fa-solid fa-repeat"></i><span class="switch-txt">Switch to Student Desk</span></div>
            <!-- <button onclick="sendBotMessage('Academic Support')">Academic Support</button>
            <button onclick="sendBotMessage('What is the PUP Vision?')">What is the PUP Vision?</button>
            <button onclick="sendBotMessage('What is the PUP Hymn?')">What is the PUP Hymn?</button>
            <button onclick="sendBotMessage('What are the PUP Goals?')">What are the PUP Goals?</button> -->
      </aside>

      <div class="right-section">
        <div class="header">
          <i id="menuBar" class="fa-solid fa-bars"></i>
          <div class="logo-cont copilot-cont">
            <span>Powered by </span> <img class="copilot-logo" src="{% static 'svg/copilot-logo.svg' %}" alt="Copilot Logo"> <span>Copilot Studio.</span>
          </div>
        </div>
        <div id="webchat" role="main" class="right-section"></div>
      </div>
    </div>

  <div class="popover" id="switchPopover">
      <div class="popover-content">
          <div class="popover-message">
              <p>Are you sure you want to switch to <strong>Student Agent</strong>?</p>
          </div>
          <div class="popover-action">
              <button class="cancel-btn" id="switchPopoverCancelBtn">Cancel</button>
              <button class="confirm-btn" id="confirmBtn">Confirm</button>
          </div>
      </div>
  </div>

  <script>

    let directLine;

    async function initBot() {
      const res = await fetch('/get-token/applicant/');
      const json = await res.json();
      directLine = window.WebChat.createDirectLine({
        token: json.token
      });

      window.WebChat.renderWebChat({
        directLine: directLine,
        userID: 'student01',
        username: 'Student',
        locale: 'en-US',
        styleOptions: {
          botAvatarImage: 'https://raw.githubusercontent.com/aguilaremmanuel/ImageHosting/refs/heads/main/PUPHelpDesk/pup-logo.webp',
          botAvatarInitials: '🤖',
          userAvatarImage: 'https://raw.githubusercontent.com/aguilaremmanuel/ImageHosting/refs/heads/main/PUPHelpDesk/applicant.webp',
          userAvatarInitials: '👤',
          showAvatarInGroup: true
        }
      }, document.getElementById('webchat'));

      sendBotMessage("Get Started");

    }

    function sendBotMessage(text) {
      if (directLine) {
        directLine.postActivity({
          from: { id: 'student01', name: 'Student' },
          type: 'message',
          text
        }).subscribe(
          id => console.log("Message sent:", id),
          error => console.error("Send failed:", error)
        );
      }
    }

    initBot();
  </script>

  <script>
    const menuBar = document.getElementById('menuBar');

    menuBar.addEventListener('click', function () {

      document.querySelectorAll('.accordion-header').forEach(header => {
        header.classList.remove('show');
      });

      document.querySelectorAll('.accordion-content').forEach(content => {
        content.classList.remove('show');
      });

      document.querySelector('.navigation').classList.toggle('collapse');
      document.querySelector('.right-section').classList.toggle('collapse');
        
      document.querySelector('.switch-txt').classList.toggle('hide');

    });
  </script>

  <script>
    document.querySelectorAll('.accordion-header').forEach(header => {
      header.addEventListener('click', () => {

        const navigation = document.querySelector('.navigation');
        const rightSection = document.querySelector('.right-section');

        if (navigation.classList.contains('collapse') && rightSection.classList.contains('collapse')) {
          navigation.classList.remove('collapse');
          rightSection.classList.remove('collapse');
        }

        header.classList.toggle('show');
        const content = header.nextElementSibling;
        content.classList.toggle('show');
      });
    });
    
  </script>

  <script>
    const switchPopover = document.getElementById('switchPopover');
    document.querySelector('.switch-link').addEventListener('click', function() {
      switchPopover.classList.add('show');
    });

    document.getElementById('switchPopoverCancelBtn').addEventListener('click', function() {
      switchPopover.classList.remove('show');
    });

    document.getElementById('confirmBtn').addEventListener('click', function() {
        window.location.href = '/student/';
    });

  </script>

</body>
</html>
